@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.avatar svg {
  stroke: white;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-dropdown-menu {
  margin: 0;
  padding: 0;
  box-shadow: none;
  /* Optional: Remove default shadow if present */
  border: none;
  /* Optional: Adjust border if necessary */
}

/* globals.css */
.prose {
  max-width: 65ch;
  line-height: 1.6;
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}